/*MENU

  S01. LOADER
    S010. UNDER CONSTRUCTION
  S02. HEADER
  S03. MAIN PAGE

  custom font = font-family: 'Open Sans Condensed', sans-serif;
*/

/*-----------------------------------------------------------------------------------*/
/*	FLOATS
/*-----------------------------------------------------------------------------------*/
.fl{
  float:left;
}
.fr{
  float: right;
}
.clear{
  clear: both;
}

.space10px{
  margin-top:10px;
}
/*-----------------------------------------------------------------------------------*/
/*
/*-----------------------------------------------------------------------------------*/

body{
  background:url("../imgs/texture.png");
  font-family: 'Open Sans Condensed', sans-serif;
}
/* S01. LOADER*/
@keyframes spin{
  0%{
    transform:rotate(0deg)
  }
  100%{
      transform:rotate(360deg)
  }
}

#loader-wrap{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #0e0a01;

  font-family: 'Lobster', cursive;
}

#loader{
    display: block;
    position: absolute;;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin:-75px 0 0  -75px;

    border: 3px solid  transparent;
    border-top-color: #3489db;
    border-radius: 50%;
    z-index: 1500;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }

  #loader::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;

    border:3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 3s linear infinite;
  }

  #loader::after{
    content: "";
    position: absolute;
    top: 15px;
    right:15px;
    bottom: 15px;
    left: 15px;

    border:3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
  }

  #loader-wrap .loader-section{
    position: fixed;
    top:0;
    width: 51%;
    height: 100%;
    background: #222222;
  }

  #loader-wrap .loader-section.section-right{
    right:0;
  }

  #loader-wrap .loader-section.section-left{
    left:0;
  }

  .loaded #loader-wrap .loader-section.section-left{

      transform:translateX(-100%);

      transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

  }
  .loaded #loader-wrap .loader-section.section-right{

      transform:translateX(100%);

      transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader{
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .loaded #loader-wrap{

    visibility: hidden;

    transform: translateY(-100%);

    transition: transform 0.3s 1s ease-out;
  }
      /* S010. UNDER CONSTRUCTION*/
      #loader-wrap>p{
        margin:20px 0 0 1em;
        color: #f0cd17;
        /*padding:1em;*/
        font-size: 40px;
      }

      #loader-wrap>p::first-letter{
        font-size:70px;
      }

      /**********S010**********/

/***********Frame Position****************/
.wrap{
    border: 1px solid #5bb5f6;
    border-left: 10px solid #2d2d2e;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 10%;
    /*position: inherit;*/
    width: 70%;
    /*height:auto;*/
}
.my-picture{
  width: 13%;
  float: left;
  overflow: hidden;
  height:auto;
  border: 10px solid #61ec5e;
  /*transform: rotate(-90deg);*/
  /*display:inline;*/

  margin-left: 3%;
}

.mainContent{
    float: left;
    /*width:80%;*/
    border:10px solid #c30d0a;
    display: inline;
}

/* S02. HEADER*/

header{
    width: 80%;
    display: inline;
}

header p{
  display: inline;
  color: #b6a508;
}

header > h1{
  font-style: italic;
}

.separation{
  font-weight: bolder;
  font-style: normal;
  font-size: 1em;
  color: #9bb90a;
}

.header-title{
  padding-left: 1em;
  letter-spacing: 2px;
  font-size: xx-large;
  display: block;
  /*position: absolute;*/
  /*bottom: 27px;*/
  /*width: 90%;*/
}

/*-----------------------------------------------------------------------------------*/
/*	Navigation
/*-----------------------------------------------------------------------------------*/
nav ul{
  font-size: small;
  display: inline;
}
nav{
  margin-left: 0.7em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #109fb8;
  border-bottom: 1px solid #109fb8;
  /*width: 35%;*/
  display: inline;


}
nav .list-inline{
  padding: 0;
}

nav li a{
    transition: all 0.07s 0.03s ease-in-out;
}

nav li a:hover{
  font-weight: bolder;
  /*font-size: 100%;*/
}

nav .active{
  font-weight: bolder;
  /*font-size: 15px;*/
  text-shadow: 1px 1px 2px #160504;
}

.sec-content{
  display: none;
}

#sec-home{
  display: block;
}

/* S03. Main Page*/

  #content{
    border: 1px solid #e9c423;
    margin-top:1px;
    margin-bottom: 1px;
    padding:0.7em;
  }
      /*-----------------------------------------------------------------------------------*/
      /*	SOCIAL ICONS
      /*-----------------------------------------------------------------------------------*/
      .list-unstyled{
        list-style: none;
        padding-left: 0;
      }
      .list-inline li{
        display: inline-block;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right:1em;
      }

      .social-icons .fa{
        color: #f4ebeb;
        font-size: 1.5em;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 1px solid #dda21f;
        line-height: 50px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }

      .social-icons .fa-facebook{
        background-color: #1637c2;
      }
      .social-icons .fa-twitter{
        background-color: #87d4f0;
      }
      .social-icons .fa-google-plus{
        background-color: #e40636;
      }
      .social-icons .fa-linkedin{
        background-color: #567ef6;
      }

      .social-icons .fa:hover{
        color: #ffffff;
        transform: scale(1.3);
      }

      /*-----------------------------------------------------------------------------------*/
      /*	table personal-info
      /*-----------------------------------------------------------------------------------*/
      .personal-info{
        border: 1px solid #24a4ac;
        width: 100%;
      }
      .personal-info h3{
        letter-spacing: 1.5px;
        font-size: 15px;
        padding-bottom: 7px;
        margin-left: 1em
      }
      table{
        border: 1px solid #0e2165;
        background-color: #FFF;
        width: 47%;
        margin: 0 25px 5px 5px;
      }
      .tb-column{
        background-color: #eddbf6;
        color: #96859f;
        width: 20%;
      }
      td{
        padding:5px;
      }


  /*-----------------------------------------------------------------------------------*/
  /*	RESUME SECTION
  /*-----------------------------------------------------------------------------------*/
      .employment,.education,.skills,.testimonials{
        border:2px dashed #1d9f51;
        margin:1px;
        display:inline-block;
        margin-bottom:5px;
        border-radius:20px 20px 0 0;
      }
      .employment,.education{
        width: 50%;
        /*background-color: #d6ecf6;*/
      }
      .skills{
        width: 45%;
        height: auto;
        margin-right: 3%;
      }
      .testimonials{
        width: 100%;
      }

      .employment li{
          margin-left: 10px;
      }
      .employment h5{
        padding-top:1px;
        padding-bottom: 1px;
        font-style: italic;
        text-decoration: underline;
      }

      .resume{
        border: 1px solid #c45e50;
        border-right: 5px solid #110d0d;
        margin:0.8px;
        background-color: #fafbf0;
        margin-bottom: 10px;
      }
      .resume-title{
        font-size: 100%;
        display: inline;
        font-weight: bolder;
        /*text-shadow: 1px 1px 5px #160504;*/
      }
      .resume-title .fa{
        padding:0 1px   0 3px;
      }
      .resume dd{
        margin-left: 10px;
      }
      .skills > table{
        width:90%;
        margin-left:auto;
        margin-right: auto;
      }
      .Twrapper{
        border:1px solid #78f406;
        margin:1px 0 1px 1px;
      }
      .Tcontainer{
        margin:1px;
        width: 49%;

        border: 1px dashed #41906f;

        display:inline-block;
      }
      progress{
        width: 100%;
        background-color: #eee;
        /*border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
      }
      /*.res-hide{
        display: none;
      }*/


        /*-----------------------------------------------------------------------------------*/
        /*	PORTFOLIO SECTION
        /*-----------------------------------------------------------------------------------*/
.Pwrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #248866;
  height: 500px;
  width: 97%;
}

.Pcontainer{
  display:inline-block;
  border: 1px dashed #ccbf06;
  height: 23%;
  width: 21%;
  margin: 0.3em 0.3em 0.3em 1.2em;
  position: relative;
}

.Ptitle{
  margin-left: auto;
  margin-right: auto;
  color: #020f1b;
  width: 100%;
  font-stretch: expanded;
}

.Pcontent  img {
  width: 100%;
  height: 100%;
  /*position:relative;*/
}


.Ptext{
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.Phover{
  /*margin-top: 30%;*/
  font-size: 2em;
  display: none;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
}

.Pcontainer:hover > .Phover , .Pcontainer:hover img {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: #282a26;
  opacity: 0.4;
  color: #ebf5f6;
}


        /*-----------------------------------------------------------------------------------*/
        /*	MODAL BOX
        /*-----------------------------------------------------------------------------------*/

.modals{
  display: none; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(119,119,119,0.5); /* Black w/ opacity */

}

.modal-close{
  float: right;
  color: #050f11;
  font-weight: 500;

}

.modal-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  background: #ebf5f6;
  width: 48%;

  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.modal-content-picture, .modal-content-information{
  /*border: 1px solid rgb(128, 57, 80);*/
  /*display:inline-block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 49%;
   /*height: 400px;experimental purpose */
}

.modal-content-picture{
  order: 1;
  display: flex;

}

.modal-content-picture > img{
    height: 90%;
    width: 90%;
    /*padding-bottom: 1em;*/

    margin: auto;
}

.modal-content-information{
  order: 2;
}

.modal-description{
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  font-stretch: ultra-condensed;
}

.modal-detail > ul{
  padding-left:10%;
  list-style-type: circle;
}


        /*-----------------------------------------------------------------------------------*/
        /*	CONTACT SECTION
        /*-----------------------------------------------------------------------------------*/

.Cinfo , .Cme{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.7em;

}
.Cinfo{
  border: 1px solid #6d8837;

}
.Cme{
  border: 1px solid #bad09c;
}

  /* Footer*/
footer{
  border:1px solid #c1f567;
  margin-top: 1px;
  padding: 1px;
}

    .footer-text{
      text-align: right;
    }


    /* MEDIA */
    @media only screen and (max-width:750px) {
        /*undisplay the profile picture*/
        figure{
          display: none;
        }
        /*                              */
    }
