/*MENU

  S01. LOADER
    S010. UNDER CONSTRUCTION
  S02. HEADER
  S03. MAIN PAGE

  custom font = font-family: 'Open Sans Condensed', sans-serif;
*/

body{
  background-images:url("../imgs/texture.png");
  font-family: 'Open Sans Condensed', sans-serif;
}
/* S01. LOADER*/
@keyframes spin{
  0%{
    transform:rotate(0deg)
  }
  100%{
      transform:rotate(360deg)
  }
}

#loader-wrap{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #0e0a01;

  font-family: 'Lobster', cursive;
}

#loader{
    display: block;
    position: absolute;;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin:-75px 0 0  -75px;

    border: 3px solid  transparent;
    border-top-color: #3489db;
    border-radius: 50%;
    z-index: 1500;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }

  #loader::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;

    border:3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 3s linear infinite;
  }

  #loader::after{
    content: "";
    position: absolute;
    top: 15px;
    right:15px;
    bottom: 15px;
    left: 15px;

    border:3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;

    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
  }

  #loader-wrap .loader-section{
    position: fixed;
    top:0;
    width: 51%;
    height: 100%;
    background: #222222;
  }

  #loader-wrap .loader-section.section-right{
    right:0;
  }

  #loader-wrap .loader-section.section-left{
    left:0;
  }

  .loaded #loader-wrap .loader-section.section-left{

      transform:translateX(-100%);

      transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);

  }
  .loaded #loader-wrap .loader-section.section-right{

      transform:translateX(100%);

      transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader{
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  .loaded #loader-wrap{

    visibility: hidden;

    transform: translateY(-100%);

    transition: transform 0.3s 1s ease-out;
  }
      /* S010. UNDER CONSTRUCTION*/
      #loader-wrap>p{
        margin:20px 0 0 1em;
        color: #f0cd17;
        /*padding:1em;*/
        font-size: 40px;
      }

      #loader-wrap>p::first-letter{
        font-size:70px;
      }

      /**********S010**********/

/***********Frame Position****************/
.wrap{
    border: 1px solid #5bb5f6;
    border-left: 10px solid #2d2d2e;
    border-radius: 0 0 0 0px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 70%;
    height:auto;
}
.my-picture{
  width: 100px;
  /*float: left;*/
  overflow: hidden;
  height: 100%;
  border: 1px solid #ec5ec0;
  display:inline;
}

.mainContent{
    width:80%;
    border:10px solid #c30d0a;
    display: inline;
}

/* S02. HEADER*/

header{
    width: 80%
}

header h1{
  display: inline;
  color: #b6a508;
}
.header-title{
  padding-left: 1em;
  letter-spacing: 2px;
  font-size: xx-large;
  display: block;
  /*position: absolute;*/
  /*bottom: 27px;*/
  /*width: 90%;*/
}


/* S03. Main Page*/

  #content{
    border: 1px solid #e9c423;
    margin-top, margin-bottom: 1px;
    padding:0.7em;
  }



  /* Footer*/
footer{
  border:1px solid #c1f567;
  margin-top: 1px;
  padding: 1px;
}

    .footer-text{
      text-align: right;
    }
